<div class="contenedor">
    <h1>Sobre el Comic</h1>
    <div class="texto">DC vs. Marvel / Marvel vs. DC Comics es una serie limitada de cómics publicada por Marvel y DC Comics en 1996. La serie fue escrita por Ron Marz y Peter David, y dibujada por Dan Jurgens y Claudio Castellini. En la serie, compuesta de cuatro tomos, los héroes y villanos de cada compañía se enfrentan entre sí para decidir qué universo es el mejor y en consecuencia, cuál de las dos editoriales debe sobrevivir. En 1996, la miniserie ganó el Comics Buyer's Guide Fan Award como la mejor Serie Limitada. Esta miniserie es el arco argumental para el lanzamiento de la Línea Amalgam.</div>
    <br>
    <img src="assets/img/comic.jpg" alt="" >
</div>