/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body{
    background-image: url(assets/img/fondo.gif);
    background-size:100vw 100vh;
}

*{
    font-family: 'Bangers';
}